body{
	background:url(bg.jpg) repeat scroll;
}
#body-wrapper{                              
	padding:1px;
	background:url(bg_top_shadow.png) repeat-x scroll;
}
#container{
	width:956px;
	margin:20px auto;
}

#top{
	margin:0 0 16px 0;
}

#middle{
    padding:32px;
    background:white;
    overflow:hidden;

	-webkit-box-shadow: 0px 0px 2px 2px rgba(88, 88, 88, 0.2);
	-moz-box-shadow: 0px 0px 2px 2px rgba(88, 88, 88, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(88, 88, 88, 0.2);
}

#bottom{
	margin:16px 0 0 0;
	padding:8px;
}


#page-title{
	margin:0 0 8px 0;
}
#page-title a{
	font-size:3em;
	color:#a60000;
}
#page-title a{
	text-decoration:none;
}

#top-nav{
	margin:0;
	padding:4px 8px;
	height:24px;
	font-size:1.4em;
}
#top-nav li{
	float:left;
	margin:0 10px 0 0;
}
#top-nav li a{
	text-transform:uppercase;
	color:#bfbfbf;
	 -webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
#top-nav li a:hover{
	color:#858484;
	text-decoration:none;
}

.hidden{
	display:none;
}
